.singUp {
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.singUp__title {
    font-size: 2.2rem;
    text-align: center;
    padding: 20px;
}

.containerGeneralAllSteps{
    display: flex;        
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 768px;
}

.singUp__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 310px;
    min-height: 360px;
    padding: 20px 15px;
    border: solid 2px var(--fontColor2);
    border-radius: 30px;
    margin: 10px 5px;
}

.containerStepTitle{
    text-align: center;
}

.singUp__container__TitleNumber {
    font-size: 3rem;
}

.singUp__container__TitleNumber::after {
    content: ") ";
}

.singUp__container__stepsTitle {
    font-size: 2.5rem;
    text-align: center;
}

.singUp__step--ul {    
    padding: 10px 50px;
    list-style: circle;
}

.singUp__step--ul > li {
    font-size: 1.9rem;
    padding: 4px;
}

.singUp__step--content {
    padding: 20px;
    font-size: 1.9rem;
    text-align: center;
}

.singUp__step__observations {
    background-color: var(--contrastColor2); 
    color: var(--mainColor);   
    border-radius: 4px;
    font-size: 1.5rem;
    max-width: 340px;
    padding: 20px;
    margin: 0 10px;
    text-align: center;
}

.button {
    background-color: var(--contrastColor2);
    border-radius: 30px;
    color: var(--mainColor);
    font-size: 2.7rem;
    padding: 20px;
    margin: 15px 0;
    max-width: max-content;
}

.button:hover {
    cursor: pointer;
}

.button:visited, .button:link, .button:active {
    color: var(--mainColor);
}

.button__hide {
    display: none;
}

@media (min-width: 768px) {
    .singUp__container {
        max-width: 350px;
    }
}