:root {    
    --fontColor: #9F2241;
    --fontColor2: #691C32;
    --contrastColor: #4c4573;
    --contrastColor2: #334969;
    --mainColor: #f2e1e7;
    --mainColor2: #a36880;    
}

.singUp {
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.singUp__title {
    font-size: 2.2rem;
    text-align: center;
    padding: 20px;
}

.singUp__container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-width: 250px;
    padding: 20px 15px;
    border: solid 2px var(--contrastColor);
    border-radius: 30px;
    margin: 10px 5px;
}

.containerStepTitle{
    text-align: center;
}

.singUp__container__TitleNumber {
    font-size: 2.5rem;
}

.singUp__container__TitleNumber::after {
    content: ") ";
}

.singUp__container__stepsTitle {
    font-size: 2rem;
    text-align: center;
}

.singUp__step--ul {    
    padding: 25px 50px;
    list-style: circle;
}

.singUp__step--ul > li {
    font-size: 1.9rem;
    padding: 10px;
}

.singUp__step__observations {
    background-color: var(--contrastColor2); 
    color: var(--mainColor);   
    border-radius: 4px;
    font-size: 1.6rem;
    max-width: 340px;
    padding: 15px;
    margin: 10px;
    text-align: center;
}

.button {
    background-color: var(--contrastColor2);
    border-radius: 30px;
    color: var(--mainColor);
    font-size: 2.7rem;
    padding: 20px;
    margin: 15px 0;
    max-width: max-content;
}

.button:hover {
    cursor: pointer;
}

.button:visited, .button:link, .button:active {
    color: var(--mainColor);
}

.button__hide {
    display: none;
}

@media (min-width: 768px) {
    .singUp__container {
        max-width: 350px;
    }

    .containerGeneralAllSteps{
        display: flex;        
        flex-wrap: wrap-reverse;
        justify-content: space-around;
        max-width: 768px;
    }
}