:root {
    /* Identidad gráfica del gobierno de México */
    --redLight: #9F2241;
    --redDark: #691C32;
    --greenLight: #235B4E;
    --greenDark: #10312B;
    --brownLight: #DDC9A3;
    --brownDark: #BC955C;
    --grayLight: #98989A;
    --grayDark: #6F7271;
}

.inscribete {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inscribete__title {
    font-size: 2.2rem;
    text-align: center;
    padding: 20px;
}

.inscribete__container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-width: 250px;
    padding: 20px 0;
    border: solid 2px var(--greenDark);
    border-radius: 30px;
    margin: 0 5px;
}

.inscribete__container__TitleNumber {
    font-size: 2.5rem;
}

.inscribete__container__TitleNumber::after {
    content: ") ";
}

.inscribete__container__stepsTitle {
    font-size: 2rem;
}

.inscribete__step--ol{    
    padding: 25px 50px;
}

.inscribete__step--ol > li {
    font-size: 1.9rem;
    padding: 10px;
}

.inscribete__step__observations {
    background-color: var(--brownDark);    
    border: solid 1px var(--redLight);
    border-radius: 10px;
    font-size: 1.6rem;
    max-width: 340px;
    padding: 15px;
    margin: 10px;
    text-align: center;
}

.button {
    color: var(--brownLight);
    background-color: var(--greenDark);
    font-size: 2.7rem;
    border-radius: 30px;
    padding: 20px;
    margin-top: 25px;
}

.button:hover {
    cursor: pointer;
}

.button__hide {
    display: none;
}