.educativeOffer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;    
}

.educativeOffer__api {
    font-size: 1.6rem;
    max-width: 90vw;
    color: var(--fontColor2);
}

.educativeOffer__api--title {
    color: var(--fontColor);
    text-align: center;
    font-size: 2.3rem;
    padding-bottom: 15px;
}

.container__Specialties {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;    
}

.container__Specialties--HIDE {
    display: none;
}

.buttonBack {
    background-color: var(--fontColor);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100px;
    font-size: 1.2rem;
    color: var(--mainColor);
    cursor: pointer;
    padding: 8px;
}

.buttonBack img{
    width: 50px;
    padding: 4px;
}

.buttonBack--HIDE {
    display: none;
}

.Specialties--containers {
    background-color: var(--fontColor);
    border-radius: 10%;
    color: var(--mainColor);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 8px;
    text-transform: capitalize;
    text-align: center;    
    padding: 10px;
    min-height: 90px;
    width: 260px;
}

.containerCourses {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.course {
    background: linear-gradient(180deg, var(--mainColor), var(--mainColor2));
    border-radius: 7px;
    color: var(--contrastColor);
    font-size: 1.8rem;
    margin: 10px;
    padding: 5px;
    padding-bottom: 15px;
    text-align: center;
    width: 400px;
}

.containerCourse--title {
    font-size: 2.3rem;
    background-color: var(--contrastColor);
    color: var(--mainColor);    
    padding: 15px 5px;
}

.containerCourse--profesor{
    text-transform: capitalize;
    font-size: 2rem;
    margin-top: 10px;
}

.educativeOffer > iframe {
    width: 92vw;
    min-height: 75vh;
    border: var(--contrastColor2) solid 2px;
    border-radius: 10px;
}

.educativeOffer__button {
    padding: 12px 25px;
}

.educativeOffer__button:visited {
    color: var(--mainColor);
}

.error__API{    
    color: var(--contrastColor);
    margin: auto;
    margin-top: 90px;
    text-align: center;
    vertical-align: middle;
}

@media (min-width: 1024px) {
    .educativeOffer > iframe {
        max-width: 1200px;
    }

    .Specialties--containers {
        max-width: 450px;
    }
}