.main {
    color: var(--mainColor2);
    background-image: url("https://cecati13web.blob.core.windows.net/galeria/zonas_comunes16.jpeg");
    background-position: 35% 55%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.main__container__welcome{
    color: var(--mainColor);
    -webkit-text-stroke: 2px var(--fontColor);
}
.main__container__advertisements--div {
    background: linear-gradient(var(--fontColor2), transparent);
    color: var(--mainColor);
    border-radius: 15px;
    max-width: 450px;
    padding: 6px;
}

.main__container__advertisements--div--maxWidth {
    max-width: 100%;
}

.line {
    margin: 0;
    height: 7px;
}

@media (min-width: 768px) {
    .main {
        background: none;
    }

    .main__container__welcome{
        color: var(--fontColor);
        -webkit-text-stroke: 0;
    }
    .main__container__advertisements--div {
        background: none;
        color: var(--contrastColor);
    }
}