:root {    
    --fontColor: #972648;
    --fontColor2: #691C32;
    --contrastColor: #43655a;
    --contrastColor2: #628281;
    --mainColor: #ffffff;
    --mainColor2: #b1bdc5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

body {    
    background-color: var(--mainColor);    
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    color: var(--fontColor);
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 65px;
    height: 65px;
    z-index: 3;
    cursor: pointer;
    border: solid 3px var(--contrastColor2);
    background-color: var(--mainColor);
    border-radius: 50%;
    bottom: 10px;
    right:10px;
}

.menu__mobile {
    stroke: var(--contrastColor2);
    height: 35px;
    padding: 4px;
  }

.lineSpin1 {
    transform: translate(31px, -22px) rotate(45deg);
}

.lineSpin2 {
    transform: translate(40px, 3px) rotate(135deg);
}

.lineSpinHide {
      display: none;      
  }

.header__port {
    display: flex;
    flex-direction: column;
    align-items: center;    
    min-height: 90px;
}

.header__port--imgSEP {    
    margin-top: 25px;
    width: 150px;
}

.header__port__title {
    text-align: center;
    margin-bottom: 10px;
}

.header__port--C13 {
    display: flex;
    justify-content: center;    
    font-size: 3.2rem;
    padding-top: 25px;
}

.header__port--imgC13, .header__port__title--h1 {
    display: none;
}

.header__port__title--h2 {
    padding-top: 7px;
    font-size: 1.7rem;
}

.nav__hide {
    display: none;    
}

.nav__show {
    display: flex;
    justify-content: center;    
    font-size: 2rem;
    font-weight: 700;
    width: 100vw;
    position: sticky;
    padding: 10px 0 10px 0;    
    background: linear-gradient(var(--mainColor), var(--mainColor2));
    /* border-radius: 0 0 15px 15px;
    border-bottom: solid var(--fontColor) 4px;     */
    z-index: 2;
    color: var(--fontColor2);
}

ul {    
    list-style: none;
}

a {
    text-decoration: none;    
}

a, a:visited, a:active{
    color: var(--fontColor);
}

.nav__show--ul li {
    text-align: center;
    padding: 18px 0;
}

.main {
    display: flex;
    justify-content: center;
    color: var(--fontColor);
    width: 100vw;    
}

.main__container {
    display: inherit;
    flex-direction: column;
    align-items: center;
    max-width: 1024px;
}

.main__container__welcome {
    font-size: 4rem;
    padding: 20px;
    text-align: center;
}

.main__container__welcome--title {
    opacity: 1;
    animation: enfasis 5s ease-in 500ms 1 reverse none;
}

@keyframes enfasis {
    0% {
        transform: scale(0.5);
        opacity: 1;
    }

    25% {        
        opacity: 0.7;
    }   

    50% {
        transform: scale(1.4);
        opacity: 1;
    }

    75% {        
        opacity: 0.8;
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.main__container__welcome--age {
    padding-top: 25px;
    font-size: 5.4rem;
    animation: moverse 5s ease-in 500ms 1 reverse none;
}

@keyframes moverse {
    0% {
        transform: translate(0);
    }    

    50% {
        transform: translateY(15px);
        opacity: 1;
    }

    100% {
     transform: translate(0);
    }
}

.main__container__advertisements {
    font-size: 2.4rem;
    color: var(--contrastColor);    
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.main__container__advertisements__offer {
    max-width: 300px;
    min-height: 350px;
    text-align: center;
    display: inherit;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.main--advertisements {    
    opacity: 1;
    padding: 15px 0;    
}

.main__container__advertisements__modalities {
    max-width: 300px;
    min-height: 350px;
    text-align: center;
    display: flex;
    flex-direction: column;    
    justify-content: space-around;
    align-items: center;
}

.button__link {
    max-width: 230px;
    padding: 10px;
    color: var(--mainColor);    
    background-color: var(--contrastColor2);
    border-radius: 25px;
    font-size: 1.2em;
    margin: 10px;
    text-align: center;
}

.buttonAnimate {    
    position: relative;    
    animation: oferta 10s ease 5s infinite normal forwards;
}

@keyframes oferta {
    0% {
        transform: scale(1);
    }
    50% {
        transform:scale(1.2);
    }
    100% {
        transform:scale(0.9);
    }
}
.footer {
    font-size: 1.7rem;
    margin-top: auto;
    min-height: 50px;
    width: 100vw; 
    background: linear-gradient(var(--mainColor), var(--mainColor2));
}

.footer__contact {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.footer__contact > li {
    padding: 20px;
    min-width: 140px;
    text-align: center;
}
.line {
    background: var(--fontColor);
    height: 5px;
    width: 100%;
    display: block;
    margin-bottom: 15px;
}

#contacto, #documentation, 
#especialidades, #signUp,
#ofertaEducativa, #rocos{
    color: var(--contrastColor2);
    max-width: 1024px;
}

@media (min-width: 768px) {
    .menu {
        display: none;
    }
    
    .header__port--C13 {
        display: none;
    }

    .header {
        color: var(--fontColor);
        min-height: 100px;
    }
    
    .header__port {
        font-size: 2rem;
        flex-direction: row;   
        justify-content: space-evenly;
        align-items: center;
    }
    
    .header__port__title {
        text-align: center;
        padding: 10px;        
    }

    .header__port__title--h1 {
        display: block;
        font-size: 2.7rem;
    }
    
    /* Styles Logos */
    .header__port--imgSEP {        
        height: 60px;
        margin: 0;
    }
    
    .header__port--imgC13 {    
        display: block;
        height: 90px;
        padding: 0 10px 20px;
    }

    .nav__hide {
        display: flex;
        justify-content: center;     
        font-size: 1.7rem;
        font-weight: 700;
        margin-top: 25px;
        padding: 0 25px;
    }

    .nav__show--ul {
        display: flex;    
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-items: center;
        min-height: 70px;
        max-width: 1024px;        
        border-radius: 10px;
        border: var(--contrastColor2) 4px solid;
        margin-bottom: 10px;
    }

    .nav__show--ul > li {
        padding: 10px;
        margin: 10px;
        
        border-radius: 20px;
    }

    .nav__show--ul > li:hover {
        transform: scale(1.4);
        text-decoration: underline;       
    }

    .main__container {
        min-width: 768px;
    }
    
    .main__container__advertisements {
        display: inherit;
        flex-direction: row;
        justify-content: space-evenly;    
    }

    
}

@media (min-width: 1024px) {
    .main__container {
        min-width: 1024px;
    }
}