:root {
    /* Identidad gráfica del gobierno de México */
    --redLight: #9F2241;
    --redDark: #691C32;
    --greenLight: #235B4E;
    --greenDark: #10312B;
    --brownLight: #DDC9A3;
    --brownDark: #BC955C;
    --grayLight: #98989A;
    --grayDark: #6F7271;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--brownLight);
    font-size: 62.5%;
}

.header {
    color: var(--redLight);
    width: 100vw;   
}

.menu__mobile {
    stroke: var(--redLight);
    height: 35px;
    z-index: 4;
    display: block;
    cursor: pointer;
    position: absolute;
    right: 0;
    margin: 15px 15px 0 0;
  }

.header__port {    
    display: flex;
    flex-direction: column;
    align-items: center;
    
    min-height: 90px;
}

.header__port--imgSEP {    
    margin-top: 45px;
    width: 150px;
}

.header__port__title {
    text-align: center;
}

.header__port--C13 {
    display: flex;
    justify-content: center;    
    font-size: 3.2rem;
    padding-top: 25px;
}

.header__port--imgC13, .header__port__title--h1 {
    display: none;
}

.header__port__title--h2 {
    padding-top: 7px;
    font-size: 1.7rem;
}

.nav {
    background: var(--grayLight);
    display: none;
    flex-wrap: wrap;
    font-size: 1.7rem;
    list-style: none;
    padding: 20px;
}

.nav li a {
    text-decoration: none;
    color: var(--greenDark);
    padding: 20px 7px;
    display: block;  
}

.nav li {
    display: inline-block;
    text-align: center;
}

.nav li a:hover {
    background: #f80040;
}

.main {
    display: flex;
    justify-content: center;
}

.main--video {
    width: 80vw;
}

footer {
    text-align: center;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:  0.5em;
}

.grid div {
    background: #ecf0f1;
    padding: 1em;
}

.grid div:hover{
    border: 4px solid #f80040;
}

.linea{
    background: #f80040;
    height: 5px;
    width: 100%;
    display: block;
}

.galeria{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    width: 95%;
    margin: auto;
    grid-gap: 10px;
    padding: 40px 0;
    overflow: hidden;
}

.galeria > a{
    display: block;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 6px rgba(0,0,0,.5);
}
.galeria img{
    width: 100%;
    vertical-align: top;
    height: 300px;
    object-fit: cover;
    transition: transform 0.5s;
}

.galeria a:hover img{
    filter: blur(2px);
    transform: rotate(10deg) scale(1.3);
}

.light-box{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.5);
    transition: transform .3s ease-in-out;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
   transform: scale(0);
}


.light-box img{
    width: 75vw;
    max-height: 70vh;
}



.light-box:target{
    transform: scaleX(1);
    
}

.close{
    display: block;
    position: absolute;
    top: 40px;
    right: 40px;
    background: #f80040;
    color: #fff;
    text-decoration: none;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
}

.next{
    display: block;
    background: #f80040;
    color: #fff;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-decoration: none;
    text-align: center;
}

/* @media screen and (max-width:400px){
    .galeria{
        grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    }
    .close{
        top: 20px;
        right: 20px;
    }
}

.visualiza{
    text-align: center;
}

.descarga{
    text-align: center;
}

.Requisitos{
    text-align: justify-all;
}

.oferta{
    width: 100%;
    height: 90%;
}

a{
    color: #000;
    text-decoration: none;
} */

@media (min-width: 768px) {
    .menu__mobile{
        display: none;
    }
    
    .header__port--C13 {
        display: none;        
    }

    .header {
        color: var(--redLight);
        min-height: 100px;
    }
    
    .header__port {
        font-size: 2rem;
        flex-direction: row;   
        justify-content: space-evenly;
        align-items: center;
    }
    
    .header__port__title {
        text-align: center;
        padding: 10px;
    }

    .header__port__title--h1{
        display: block;
        font-size: 2.7rem;
    }
    
    /* Styles Logos */
    .header__port--imgSEP {        
        height: 60px;
    }
    
    .header__port--imgC13 {    
        display: block;
        height: 90px;
    }
}

@media (min-width: 1200px) {
    .main--video{
        max-width: 960px;
    }
}