.main {
    font-size: 1.6rem;
    padding: 15px;
}

form {
    max-width: 450px;
    padding: 25px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

input, select {
    margin: 20px 0;
}

button {
    width: 70px;
}