section {
    font-size: 1.6rem;
}

section > div {
    padding: 15px;
    border: solid 2px blue;
}

form > input {
    padding: 10px;
    display: block;
}

.register{
    width: 90vw;    
}

.registerHide {
    display: none;
}