.section__questions {
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.section__questions--title {
    color: var(--fontColor);
    margin: 20px 0;
    font-size: 2.6rem;
}

.container {
    max-width: 100vw;
    font-size: 1.6rem;
    margin-bottom: 15px;
}

.container__question {    
    background: linear-gradient(var(--mainColor2), var(--mainColor));
    border-radius: 5px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
}

.container__question--interrogation{
    background-color: var(--contrastColor);    
    border-radius: 5px 5px 0 0;
    color: var(--fontColor2);
    padding: 50px;
    text-align: center;
    width: 100%;
}

.container__question--answer {
    padding: 10px 40px 35px;
    color: var(--fontColor2);
    text-align: justify;
}

.container__question > a {
    background-color: var(--fontColor2);
    margin-bottom: 20px;    
}


@media (min-width: 1024px) {
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    
    .container__question {
        width: 45vw;
    }
    
}