.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
}
.gallery > h3 {
    font-size: 2.6rem;
    margin: 20px 0;
    color: var(--fontColor);
}

.carousel {
    width: 80vw;
}

.carousel__container{
    position: relative;
}


.carousel__previous, 
.carousel__next {
    position: absolute;
    display: block;
    width: 30px;
    border: none;
    top: 50%;
    line-height: 30px;
    text-align: center;
    background: none;
    color: var(--fontColor);
    opacity: 0.4;
    font-size: 3rem;
}

.carousel__previous:hover, 
.carousel__next:hover {
    opacity: 0.8;
    cursor: pointer;
}   

.carousel__previous{
    left: -30px;
}

.carousel__next {
    right: -30px;
}

.gallery__img {    
    max-height: 30vh;    
}

.carousel__list {
    text-align: center;    
}

.carousel__list > figure {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel__indicators .glider-dot {
    display: block;
    width: 25px;
    height: 4px;
    background-color: var(--contrastColor);
    opacity: 0.4;
    border-radius: 2px;
}

.carousel__indicators .glider-dot:hover{
    opacity: 0.7;
}

.carousel__indicators .glider-dot:active {
    opacity: 1;
}

@media (min-width: 500px) {
    .gallery__img {    
        max-height: 40vh;    
    }
}

@media (min-width: 768px) {
    .gallery__img {    
        max-height: 60vh;    
    }
}